@charset "UTF-8";

nav a{
    font-size: 1.5em;
    font-weight: normal;
    padding: 14px;
    margin-right: 20px;
    margin-left: 9px;
    border-radius: 20px;
    transition-duration: .7s;
}

main p{
    font-size: 1.4em;
    text-indent: 20px;
    line-height: 60px;
    margin-bottom: 5px;
    text-align: justify;
    font-weight: normal;
}

main{
    min-width: 100px;
    max-width: 600px;
    background-color: var(--cor01);
    margin: auto;
    padding: 20px 15px 0px 15px;
    padding-left: 40px;
    padding-right: 40px;
}