@font-face {
    font-family: 'principal';
    src: url(../fontes/ROMANUS.otf);
}


*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: white;
    min-height: 100vh;
}


header{
    background-color: rgb(36, 8, 1);  
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
}
header h1{
    font-size: 8em;
    color: rgb(255, 251, 0);
    padding-bottom: 5px;
    font-family: 'principal';
    font-weight: normal;
}
header p{
    font-size: 2.5em;
    color: rgb(163, 160, 0);
}


nav{
    background-color: rgb(36, 8, 1);
    padding-bottom: 25px;
}
nav a{
    background-color: rgb(192, 54, 0);
    color: rgb(36, 8, 1);
    font-size: 1.7em;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    margin-right: 20px;
    margin-left: 9px;
    border-radius: 10px;
    transition-duration: .5s;
}
nav a:hover{
    background-color: rgb(255, 251, 0);
}


main{
    max-width: 1000px;
    min-width: 200px;
    background-color: white;
    margin: auto;
    padding: 0px 15px 0px 15px;
}
main h2{
    margin: 30px 0px 30px 0px;
    color: rgb(36, 8, 1);
    font-size: 4em;
    text-align: center;
}
main h3{
    margin: 20px 0px 20px 0px;
    color: rgb(27, 6, 0);
    font-size: 2em;
    text-align: left;
}
main p{
    font-size: 1.8em;
    text-indent: 20px;
    line-height: 40px;
    margin-bottom: 5px;
    text-align: justify;
}
main li{
    font-size: 0.8em;
}
main img{
    width: 100%;
}
main section{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
main section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main section.imagem p{
    background-color: rgba(0, 0, 0, 0.562);
    color: white;
    display: inline-block;
    padding: 5px;
}
main section#lasanha{
    background-image: url(../imagens/lasanha-italiana.jpeg);
    background-position: center center;
}
main section#macarrao{
    background-image: url(../imagens/macarrao-italiano.jpg);
}


footer{
    background-color: rgb(36, 8, 1);
    color: rgb(255, 251, 0);
    text-align: center;
}
footer p{
    padding: 4px 0px 4px 0px;
    font-size: 1.2em;
}
footer a{
    text-decoration: none;
    color: rgb(236, 107, 1);
}
footer a:hover{
    text-decoration: underline;
    font-weight: bold;
}