@font-face {
    font-family: 'principal';
    src: url(../fontes/ROMANUS.otf);
}


*{
    margin: 0px;
}


header{
    background-color: rgb(39, 11, 3);  
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
}
header h1{
    font-size: 8em;
    color: rgb(255, 251, 0);
    padding-bottom: 5px;
    font-family: 'principal';
    font-weight: normal;
}
header p{
    font-size: 2.5em;
    color: rgb(163, 160, 0);
    rgb(0, 197, 0)
}


nav{
    background-color: rgb(39, 11, 3);
    padding-bottom: 25px;
}
nav a{
    background-color: rgb(192, 54, 0);
    color: rgb(39, 11, 3);
    font-size: 1.7em;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    margin-right: 20px;
    margin-left: 9px;
    border-radius: 10px;
    transition-duration: .3s;
}
nav a:hover{
    background-color: rgb(255, 251, 0);
    background-image: linear-gradient(to right, green, white, red);
    color: rgb(51, 14, 4);
}